.banner{
    height: 150vh;
    display: flex;
   
}

.bannerLeft{
    height: 150vh;
    background-color: #352961;
    border-bottom-right-radius: 200px;
    width: 70%;

}

.bannerCarousel{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 100px;

    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        margin: 0px;
        color: #fff; 
        margin: 30px 0px 0px 0px;
    }

    p{
        
                font-family: 'Muli', sans-serif;
                line-height: 1.7;
                font-weight: 300;
                padding: 0px 20px 0px 0px;
                font-size: 1.1rem;
                max-width: 400px;
                color: grey;
                margin: 20px 30px 10px 0px;
    }

    #sliderCurveImage{
        border-top-left-radius: 200px;
    }
}

.bannerRight{
    height: 150vh;
    width: 30%;
    left: 10px;
    
    
}

.containerHeader{
    width: 80%;   
    margin: 0px 120px 0px 120px;    
    position: absolute;
    height: 30%;

   
    
}



.carouselImage{
    width: 100%;
    height: 100vh;  

    .carouselImage:hover{
        position: fixed;
  display:block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  
    }
 }

 // carousel buttons styling

.buttonBack___1mlaL {
    align-items: flex-end;
    margin: 30px 10px 10px 600px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
   
    :active{
        background-color: #352961;
    }
   }
   
   .buttonNext___2mOCa {
       align-items: flex-end;
       margin: 30px 300px 10px 10px;
       border: none;
       width: 20px;
       height: 20px;
       border-radius: 25px;
   
       :active{
           background-color: #352961;
       }
      }
   

 iframe{
     width: 90%;
     height: 100vh;
    
     margin: 400px 60px 120px 60px;
     
 }


.contactUsBox{
    
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;

    .contactUs{
        width: 80%;  
        height: 100%;  
        margin: 0px 100px 100px 100px ;
        display: flex;
        flex-direction: left;
        
          .contactUsLeft{
              width: 60%;
              h1{
                font-family: 'Oswald', sans-serif;
                font-size: 40px;
                font-weight: 900;
                margin: 0px;
                color: #352961;
                }
              
              p{
                font-size: 1.1rem;
                font-family: 'Muli', sans-serif;
                line-height: 1.7;
                font-weight: 300;
                
                color: grey;
                }

               .form{
                   
                   .inputSmall{
                       height: 35px;
                       width: 200px;
                       margin: 10px 10px 10px 10px;
                       border-radius: 5px;
                       border: 1px solid #ced4da;
                       padding: 5px 10px 5px 10px;
                       font-family: 'Muli', sans-serif; 
                   }

                   .inputLarge{
                    height: 35px;
                    width: 440px;
                    margin: 10px 10px 10px 10px;
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    padding: 5px 10px 5px 10px;
                    font-family: 'Muli', sans-serif; 
                   }

                   .textAreaLarge{
                    height: 150px;
                    width: 440px;
                    margin: 10px 10px 10px 10px;
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    padding: 5px 10px 5px 10px;
                    font-family: 'Muli', sans-serif; 
                   }

                   button{
                    margin: 10px 10px 10px 10px;
                    font-weight: bold;
                   }
               }
            }

            .contactUsRight{
                width: 40%;
                background-image: url('../../assets//images/sajid.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 10px 50px 10px 150px;
                
            }
        
          
    }
}